@model WebApplication1.Models.RegisterViewModel

@* <div id="myModal" class="modal "> *@
@* *@
@*     <!-- Modal content --> *@
@*     <div class="modal-content animated "> *@
@*         <span class="close">&times;</span> *@
@*         <div> *@
@*             <div class=" padding-horizontal bordered-bottom align-left"> *@
@*                 <h3 class="alt-color bold-text">Add GL Category</h3> *@
@*             </div> *@
@*             @using (Html.BeginForm("Register", "Account")) *@
@*             { *@
@* *@
@*                 <div class="row form-group "> *@
@*                     <div class="margin-vertical"> *@
@*                         <div class="col-md-3"> *@
@*                             @Html.LabelFor(m => m.UserAccount.Name) *@
@*                         </div> *@
@*                         <div class="col-md-9"> *@
@*                             @Html.TextBoxFor(m => m.UserAccount.Name, new { @class = "form-control" }) *@
@*                             @Html.ValidationMessageFor(m => m.UserAccount.Name) *@
@* *@
@* *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="row form-group "> *@
@*                     <div class="margin-vertical"> *@
@*                         <div class="col-md-3"> *@
@*                             @Html.LabelFor(m => m.UserAccount.Email) *@
@*                         </div> *@
@*                         <div class="col-md-9"> *@
@*                             @Html.TextBoxFor(m => m.UserAccount.Email, new { @class = "form-control" }) *@
@*                             @Html.ValidationMessageFor(m => m.UserAccount.Email) *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="row form-group "> *@
@*                     <div class="margin-vertical"> *@
@*                         <div class="col-md-3"> *@
@*                             @Html.LabelFor(m => m.UserAccount.Username) *@
@*                         </div> *@
@*                         <div class="col-md-9"> *@
@*                             @Html.TextBoxFor(m => m.UserAccount.Username, new { @class = "form-control" }) *@
@*                             @Html.ValidationMessageFor(m => m.UserAccount.Username) *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="row form-group "> *@
@*                     <div class="margin-vertical"> *@
@*                         <div class="col-md-3"> *@
@*                             @Html.LabelFor(m => m.UserAccount.PhoneNumber) *@
@*                         </div> *@
@*                         <div class="col-md-9"> *@
@*                             @Html.TextBoxFor(m => m.UserAccount.PhoneNumber, new { @class = "form-control" , @type="number"}) *@
@*                             @Html.ValidationMessageFor(m => m.UserAccount.PhoneNumber) *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@* *@
@*                 <div class="row form-group "> *@
@*                     <div class="margin-vertical"> *@
@*                         <div class="col-md-3"> *@
@*                             @Html.LabelFor(m => m.UserAccount.BranchId) *@
@*                         </div> *@
@*                         <div class="col-md-9"> *@
@*                             @Html.DropDownListFor(m => m.UserAccount.BranchId, new SelectList(Model.Branch, "Id", "Name"), "Select Branch", new { @class = "form-control" }) *@
@*                             @Html.ValidationMessageFor(m => m.UserAccount.BranchId) *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     @Html.HiddenFor(m => m.UserAccount.Id) *@
@*                     @Html.AntiForgeryToken() *@
@*                 </div> *@
@*                 <div class="align-right"> *@
@*                     <button type="submit">Add GL Account<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button> *@
@*                 </div> *@
@* *@
@* *@
@*             } *@
@* *@
@*         </div> *@
@*     </div> *@
@* *@
@* </div> *@
@* *@
@* *@
@* *@



<div id="myRegisterModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add Users</h3>
            </div>
            @*<p class="alert alert-dismissible">@ViewBag.Message</p>*@
             <div class="alert alert-danger alert-dismissible" id="errorMessage"></div>
            <div class="alert alert-success alert-dismissible" id="successMessage"></div>

            <form id="regForm">
                
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="fullName">Full Name</label>

                        </div>
                        <div class="col-md-9">
                            <input type="text" id="fullName" class="form-control"/>


                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                           <label for="email">Email</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" id="email" class="form-control"/>
                        </div>
                    </div>
                </div>
                @* <div class="row form-group "> *@
                @*     <div class="margin-vertical"> *@
                @*         <div class="col-md-3"> *@
                @*             <label for="userName">User Name</label> *@
                @*         </div> *@
                @*         <div class="col-md-9"> *@
                @*             <input type="text" id="userName" class="form-control"/> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="phoneNumber">Phone Number</label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" id="phoneNumber" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                           <label for="branch">Branch</label>
                        </div>
                        <div class="col-md-9">
                            <select id="branch" class="form-control">
                                <option value="0"> - Select a Branch - </option>
                                @{
                                    foreach (var branch in Model.Branch)
                                    {
                                        <option value="@branch.Id">@branch.Name</option>
                                    }
                                }
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.RoleName)
                        </div>
                        <div class="col-md-9">
                            <select id="roles" class="form-control">
                                <option value="0"> - Select a Role - </option>
                                @{
                                    foreach (var role in Model.RolesList)
                                    {
                                        <option value="@role.Value">@role.Text</option>
                                    }
                                }
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class=" col-md-12 align-right">
                        <button id="myRegisterBtn">Register<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
