@model WebApplication1.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

    <div id="myModal" class="modal ">

        <!-- Modal content -->
        <div class="modal-content animated ">
            <span class="close">&times;</span>
            <div class="alert alert-danger alert-dismissible" id="errorMessage"></div>
            <div class="alert alert-success alert-dismissible" id="successMessage"></div>


            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add GL Account</h3>
            </div>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h4>Reset your password.</h4>
            <hr/>
            @Html.ValidationSummary("", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit">Change</button>
                </div>

            </div>
        }
        </div>

    </div>




