@using WebApplication1.Models
@model ChangePasswordViewModel


@{
    ViewBag.Title = "ChangePassword";
    ViewBag.Title = "Index";
    if (User.IsInRole(RoleName.ADMIN_ROLE))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Change Password</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">
    
    <div class="container bg-white shadow">
        @{
            if ( ViewBag.Message != null )
            {
                <p class="alert alert-info">@ViewBag.Message</p>
            }

        }

                <div class="row padding-horizontal">
                    @using (Html.BeginForm("ChangePassword", "UserAccounts"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row form-group animated fadeInUp">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="margin-vertical">
                                <div class="col-md-2 ">
                                    @Html.LabelFor(m => m.OldPassword)
                                </div>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OldPassword)
                                </div>
                            </div>
                        </div>
                        <div class="row form-group animated fadeInUp">
                            <div class="margin-vertical">
                                <div class="col-md-2 ">
                                    @Html.LabelFor(m => m.NewPassword)
                                </div>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NewPassword)
                                </div>
                            </div>
                        </div>


                        <div class="row form-group ">
                            <div class="margin-vertical">
                                <div class="col-md-6 col-sm-6 col-xs-6 align-left animated fadeInLeft">

                                </div>
                                <div class="col-md-6  col-sm-6 col-xs-6 align-right animated fadeInRight">
                                    <button type="submit">Change Password</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>


    </div>

</div>

