@model WebApplication1.Models.Branch
<div id="myModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add Branch</h3>
            </div>
            @using (Html.BeginForm("Create", "Branches"))
            {
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter Branch Name" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Address)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter Branch Address" })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.DateCreated)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.DateCreated, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(m => m.DateCreated)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    
                    @Html.HiddenFor(m => m.Id)

                </div>
                <div class="align-right">
                    <button type="submit" id="enterBtn">Add Branch<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                </div>


            }

        </div>
    </div>

</div>

