@model WebApplication1.ViewModels.BranchViewModel
<div id="myModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add Branch</h3>
            </div>
            @using (Html.BeginForm("Create", "Branches"))
            {
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Branch.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Branch.Name, new { @class = "form-control", @placeholder = "Enter Branch Name" })
                            @Html.ValidationMessageFor(m => m.Branch.Name)
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.Branch.Address)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Branch.Address, new { @class = "form-control", @placeholder = "Enter Branch Address" })
                            @Html.ValidationMessageFor(m => m.Branch.Address)
                        </div>
                    </div>
                </div>
@*                 <div class="row form-group "> *@
@*                     <div class="margin-vertical"> *@
@*                         <div class="col-md-3"> *@
@*                             @Html.LabelFor(m => m.Branch.DateCreated) *@
@*                         </div> *@
@*                         <div class="col-md-9"> *@
@*                             @Html.TextBoxFor(m => m.Branch.DateCreated, new { @class = "form-control", @type = "date" }) *@
@*                             @Html.ValidationMessageFor(m => m.Branch.DateCreated) *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@

                <div class="form-group">
                    
                    @Html.HiddenFor(m => m.Branch.Id)

                </div>
                <div class="align-right">
                    <button type="submit" id="enterBtn">Add Branch<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                </div>


            }

        </div>
    </div>

</div>

