<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_Meta")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container strip max-width">
    <div class="row">
        @Html.Partial("_SideNav")
        <div class="col-md-10 col-sm-9 bg-light-grey max-height" style="overflow-x: hidden;">
            @Html.Partial("_Top")
            @RenderBody()
        </div>
    </div>
</div>

   
@Scripts.Render("~/bundles/lib")
@RenderSection("scripts", required: false)
    
</body>
</html>
