@model WebApplication1.ViewModels.CustomerAccountViewModel
<div id="myModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add Customer Account</h3>
            </div>
            @using (Html.BeginForm("CreateCustomerAccount", "Customers"))
            {
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.CustomerAccount.Name)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.CustomerAccount.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerAccount.Name)
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.CustomerAccount.CustomerId)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.CustomerAccount.CustomerId, new SelectList(Model.Customers, "Id", "Name"), "Select Customer", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerAccount.CustomerId)
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.CustomerAccount.BranchId)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.CustomerAccount.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branch", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerAccount.BranchId)
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.CustomerAccount.AccountTypeId)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.CustomerAccount.AccountTypeId, new SelectList(Model.AccountTypes, "Id","Name"), "Select Account Type", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CustomerAccount.AccountTypeId)
                        </div>
                    </div>
                </div>
                
                

                <div class="form-group">

                    @Html.HiddenFor(m => m.CustomerAccount.Id)

                </div>
                <div class="align-right">
                    <button type="submit">Add Customer<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                </div>


            }

        </div>
    </div>

</div>


