@model WebApplication1.ViewModels.CustomerAccountViewModel
@{
    ViewBag.Title = "CustomerAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_SelectAccountTypeModal")
@Html.Partial("_EnterAccountDetailsModal")
@Html.Partial("_EnterLoanDetailsModal")
@Html.Partial("_TermsSelectionModal")
@Html.Partial("_TermsModal")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Customer Account Management</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">
    <div class="row padding-horizontal padding-vertical">
        <div class="container container-fluid">
            <p class="align-right grey-color animated fadeInRight ">3 Customer Accounts</p>
        </div>

    </div>
    <div class="container bg-white shadow">

        <div class="row align-right padding-horizontal">
            <button id="myFirstBtn" class="myBtn">Add new Customer Account</button>
        </div>




        <div class="row padding-horizontal">

            <table id="customers" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>Account Name</th>
                        <th>Account Number </th>
                        <th>Branch</th>
                        <th>Account Type</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@* <script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script> *@
@section scripts
{
    <script>


        $(document).ready(function() {

            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers/customeraccounts",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "accountNumber"
                    },
                    {
                        data: "branch.name"
                    },
                    {
                        data: "accountType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<a class='js-delete' data-branch-id='" + data + "'>Edit|Delete</a>"
                        }
                    }
                ]
            });

            $("#myFirstBtn").on("click",
                function(e) {
                    e.preventDefault();
                    $(".modal").fadeOut();
                    $("#myAccountTypeModal").fadeIn();
                });
            $("#myPrevBtn").on("click",
                function(e) {
                    e.preventDefault();
                    $(".modal").fadeOut();
                    $("#myAccountTypeModal").fadeIn();
                });
            $("#myTermsPrevBtn").on("click",
                function(e) {
                    e.preventDefault();
                    $(".modal").fadeOut();
                    $("#myLoanSecondModal").fadeIn();
                });
            $("#myAccountTypeBtn").on("click",
                function(e) {

                    e.preventDefault();
                    accountTypeId = $("#accountTypeId").val();
                    //alert(accountTypeId);
                    $("#myAccountTypeModal").fadeOut(400,
                        function() {

                            $("#myAccountDetailsModal").fadeIn();

                        });


                });

            $("#myAccountDetailsBtn").on("click",
                function(e) {

                    e.preventDefault();
                    customerId = $("#customerId").val();
                    branchId = $("#branchId").val();
                    accountName = $("#accountName").val();
                    accountNumber = String(accountTypeId) + String(customerId);
                    alert("Account Type Id : " +
                        accountTypeId +
                        ", Customer Id : " +
                        customerId +
                        ", Branch Id : " +
                        branchId +
                        ", Account Name : " +
                        accountName +
                        ", Account Number : " +
                        accountNumber);

                    var customerAccountDto = {
                        Name: accountName,
                        CustomerId: customerId,
                        BranchId: branchId,
                        AccountNumber: accountNumber,
                        AccountTypeId: accountTypeId
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/api/Customers/CreateCustomerAccount',
                        data: JSON.stringify(customerAccountDto),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function(data) {

                            if (accountTypeId == 3) {
                                accountId = data[1];
                                $("#myAccountDetailsModal").fadeOut(400,
                                    function() {
                                        $("#myLoanFirstModal").fadeIn();
                                    });


                            } else {
                                $('#successMessage').fadeIn(200,
                                    function() {
                                        document.getElementById('customerAccountDetailsForm').reset();
                                        accountId = data[1];
                                        $('#successMessage').html(data[1])
                                    });
                                return;

                            }


                        },
                        error: function(errorMessage) {
                            alert('request failed');
                            //                            var msg = JSON.stringify(errorMessage);
                            var msg = JSON.parse(errorMessage.responseText);

                            $('#errorMessage').fadeIn(200,
                                function() { $('#errorMessage').html(msg.message) });
                        }

                    });


                });


            $("#myLoanFirstBtn").on("click",
                function(e) {

                    e.preventDefault();
                    loanAmount = $("#loanAmount").val();
                    linkedCustomerAccountBank = $("#linkedCustomerAccountBank").val();
                    linkedCustomerAccountNumber = $("#linkedCustomerAccountNumber").val();
                    bvn = $("#bvn").val();
                    alert("Linked Bank : " +
                        linkedCustomerAccountBank +
                        ", Linked Number : " +
                        linkedCustomerAccountNumber +
                        ", BVN : " +
                        bvn +
                        ", Loan Amount : " +
                        loanAmount
                    );
                    $("#myLoanFirstModal").fadeOut(400,
                        function () {
                            document.getElementById('loanDetailsForm').reset();
                            $("#myLoanSecondModal").fadeIn();
                        });

                });

            $("#myLoanSecondBtn").on("click",
                function(e) {

                    e.preventDefault();
                    tenure = $("#tenure").val();
                    collateral = $("#collateral").val();
                    paymentRate = $("#paymentRate").val();
                    alert("Tenure : " + tenure + ", Collateral : " + collateral+", Payment Rate : "+paymentRate);
                    $("#myLoanSecondModal").fadeOut(400,
                        function () {
                            document.getElementById('termsSelectionForm').reset();
                            $("#myTermsModal").fadeIn();
                        });

                });

            $('#myDisburseLoanBtn').on("click",
                function(e) {

                    e.preventDefault();


                    //alert('clicked');
                    var termsDto = {
                        Tenure: tenure,
                        Collateral: collateral,
                        PaymentRate:paymentRate
                    };
                    /**
                     * Add Terms
                     */
                    $.ajax({
                        type: 'POST',
                        url: '/api/Customers/Terms',
                        data: JSON.stringify(termsDto),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {

                            var loanDetailsDto = {
                                LoanAmount: loanAmount,
                                LinkedCustomerAccountBank: linkedCustomerAccountBank,
                                LinkedCustomerAccountNumber: linkedCustomerAccountNumber,
                                BVN: bvn,
                                customerAccountId: accountId,
                                TermsId:data[1]
                            };
                            /**
                             * Disburse Loan
                             */
                            $('#successMessage').fadeIn(200,
                                function() {
                                    document.getElementById('termsForm').reset();
                                            
                                    $('#successMessage').html(data[0])
                                });
                            $.ajax({
                                type: 'POST',
                                url: '/api/Customers/LoanDisbursement',
                                data: JSON.stringify(loanDetailsDto),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                success: function(data) {
                                   // alert('Loan Disbursed Successfully');
                                    $('#myTermsModal #successMessage').fadeIn(200,
                                        function() {
                                            document.getElementById('termsForm').reset();
                                            
                                            $('#myTermsModal #successMessage').html(data)
                                        });

                                },
                                error: function(errorMessage) {
                                    alert('request failed');
                                    
                                    var msg = JSON.parse(errorMessage.responseText);

                                    $('#errorMessage').fadeIn(200,
                                        function() { $('#errorMessage').html(msg.message) });
                                }

                            });
                            


                        },
                        error: function(errorMessage) {
                            alert('request failed');
                           
                            var msg = JSON.parse(errorMessage.responseText);

                            $('#errorMessage').fadeIn(200,
                                function() { $('#errorMessage').html(msg.message) });
                        }

                    });
                   

                });
    

            $(".close").on("click",
                function () {
                    $('#successMessage').fadeOut();
                    $(".modal").fadeOut();
                    //                    $("#myAccountTypeModal").fadeOut();
                });
            $("#myTermsModal .close").on("click",
                function () {
                   location.reload();
                });

            $("#customers ").on("click",
                "js-delete",
                function () {
                    var button = $(this);
                    //alert("Delete");
                    bootbox.confirm("Are you sure you want to delete this branch",
                        function () {
                            if (result) {
                                $.ajax({
                                    url: "api/branches/" + button.attr("data-branch-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });

        });
    </script>
}

